@import 'vars';

input[type="submit"],
input[type="button"],
button,
.btn {
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0 2.75em;
  text-align: center;
  line-height: 3em;
  font-size: 0.8em;
  letter-spacing: 1px;  
  text-transform: uppercase;
  min-width: 10em;
  &.btn-default {
    border: 1px solid $color-primary-contrast;
    background-color: $color-primary;
    color: $color-primary-contrast;
    &:hover {
      border: 1px solid lighten($color-primary-contrast, 30%);
      color: lighten($color-primary-contrast, 30%);
    }

    &:active {
      background-color: darken($color-primary, 5%);
    }
  }

  &.btn-alt {
    border: none;
    background-color: $color-primary-contrast;
    color: $color-primary;
    &:hover {
      background-color: lighten($color-primary-contrast, 5%);
    }

    &:active {
      background-color: darken($color-primary-contrast, 5%);
    }
  }

  &.btn-action {
    border: none;
    background-color: $color-action;
    color: $color-action-contrast;
    &:hover {
      background-color: lighten($color-action, 5%);
    } 

    &:active {
      background-color: darken($color-action, 5%);
    }
  }
}