.container {
  padding-right: 3em;
  padding-left: 3em
  margin: 0 auto;
}

// TODO replace media queries with mixins
// TODO replace pixel widths with em breakpoints
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-full {
  padding-right: 3em;
  padding-left: 3em
  margin: 0 auto;
}

.container-padded {
  padding-top: 3em;
  padding-bottom: 1em;
}