.container {
  margin: 0 auto;
}

// TODO replace media queries with mixins
@media (min-width: 48em) {
  .container {
    width: 46em;
  }
}
@media (min-width: 62em) {
  .container {
    width: 60em;
  }
}
@media (min-width: 75em) {
  .container {
    width: 73em;
  }
}
@media (min-width: 87.5em) {
  .container {
    width: 85em;
  }
}

.container-full {
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  padding-top: 3em;
  padding-bottom: 1em;
}