@import 'vars';

body {
  color: $color-primary-contrast;
  background-color: $color-primary;
  font-family: 'Montserrat', 'Helvetica';
  font-weight: $font-weight-normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.65;

  // TODO replace media queries with mixins
  @media (min-width: 48em) {
    font-size: 16px;
  }
  @media (min-width: 62em) {
    font-size: 16px;
  }
  @media (min-width: 75em) {
    font-size: 17px;
  }
  @media (min-width: 87.5em) {
    font-size: 18px;
  }

}

a {
  color: $color-primary-contrast;
  text-decoration: none;
  border-bottom: 1px dotted $color-primary-contrast;
  &:visited {
    color: darken($color-primary-contrast, 30%);
    border-bottom: 1px dotted darken($color-primary-contrast, 30%);
  }
  &:hover {
    color: lighten($color-primary-contrast, 30%);
    border-bottom: 1px dotted lighten($color-primary-contrast, 30%);
  }
  &:active {
    color: lighten($color-primary-contrast, 30%);
    border-bottom: 1px dotted lighten($color-primary-contrast, 30%);
  }
}

strong, b {
  color: $color-primary-contrast;
  font-weight: $font-weight-bold;
}

em, i {
  font-style: italic;
}

p {
  margin: 0 0 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-primary-contrast;
  font-weight: $font-weight-bold;
  line-height: 1.2;
  margin: 0 0 1rem 0;
}

header {
  h1, h2, h3, h4, h5, h6 {
    + p {
      font-size: 0.9em;
      color: $color-primary-contrast-alt;
    }
  }
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.3em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

blockquote {
  border-left: 5px solid #eee;
  font-style: italic;
  margin: 0 0 1em 0;
  padding: 0 0 0 1em;
}

code {
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
  font-family: monospace;
  background: $color-secondary;
  color: $color-secondary-contrast;
  border-radius: 4px;
}

pre {
  code {
    display: block;
    line-height: 1.75em;
    padding: 1em 1.5em;
    overflow-x: auto;
  }
}

hr {
  margin: 2em 0;
  border: 0;
  border-bottom: 2px solid $color-primary-contrast-alt;
  &.strong {
    border-bottom: 3px solid $color-primary-contrast;
  }
}

.text-left { text-align: left; }

.text-center { text-align: center; }

.text-right { text-align: right; }