// Color
$color-primary:        rgb(46, 56, 66);
$color-secondary:      rgb(238, 238, 238);
$color-contrast:       rgb(255, 255, 255);
$color-action:         rgb(237, 73, 51);
$color-accent:         rgb(33, 178, 166);
$color-text-primary:   rgb(78, 72, 82);
$color-text-secondary: rgb(142, 136, 146);

// Font
$font-weight-normal: 400;
$font-weight-bold: 700;

// Somethign
$border-width: 2px;