// Breakpoints
$break-sm: 48em;
$break-md: 62em;
$break-lg: 75em;
$break-xl: 87.5em;

// Utility Colors
$color-white: rgb(255, 255, 255);
$color-off-white: #FBFBFB;
$color-white-translucent: rgba(255, 255, 255, 0.7);
$color-grey-purple: rgb(78, 72, 82);
$color-grey-dark: rgb(142, 136, 146);
$color-grey-light: rgb(238, 238, 238);
$color-red-action: rgb(219, 47, 41);
$color-purple-blue: rgb(80, 83, 147);
$color-coral: rgb(149, 184, 209);

// Theme Colors
$color-primary: $color-white; // The main background color
$color-secondary: $color-grey-light; // The secondary background color
$color-tertiary: $color-purple-blue; // The tertiary background color
$color-action: $color-red-action; // A color to capture attention
$color-accent: $color-coral; // A color to add zest

// Contrasting Colors (For Text)
$color-primary-contrast: $color-grey-purple;
$color-primary-contrast-alt: $color-grey-dark;

$color-secondary-contrast: $color-grey-dark;
$color-secondary-contrast-alt: $color-white-translucent;

$color-tertiary-contrast: $color-white;
$color-tertiary-contrast-alt: $color-white-translucent;

$color-action-contrast: $color-white;
$color-action-contrast-alt: $color-white-translucent;

$color-accent-contrast: $color-white;
$color-accent-contrast-alt: $color-white-translucent;

// Font
$font-weight-normal: 400;
$font-weight-bold: 700;

// Border
$border-width: 2px;
$border-radius: 4px;